* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: #FFEFE7;
  font-family: "DM Sans", sans-serif;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: auto;
  height: 100px;
  color: #7C6A0A;
  padding: 15px;
  align-items: center;
}
@media (max-width: 1024px) {
  nav {
    padding: 4%;
  }
}
nav p {
  font-size: 1.5em;
  padding-left: 30px;
}
@media (max-width: 1024px) {
  nav p {
    padding-left: 0px;
  }
}
nav .icons {
  display: flex;
  gap: 15px;
}
nav .icons button {
  background: none;
  border-style: none;
}

article {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: auto;
  color: #7C6A0A;
  padding-left: 45px;
  padding-right: 45px;
  padding-top: 70px;
}
@media (max-width: 1024px) {
  article {
    padding: 4%;
  }
}
article .impact-section {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 50%;
  padding-top: 50px;
  gap: 25px;
}
@media (max-width: 800px) {
  article .impact-section {
    width: 100%;
    padding-top: 0px;
  }
}
article h1 {
  font-size: 3em;
  margin-bottom: 25px;
}
article p {
  font-size: 1.5em;
}
article button {
  background: none;
  border-style: none;
}
article button {
  background-color: #FA9500;
  padding: 20px;
  border-radius: 35px;
  color: white;
  font-size: 1em;
  width: 220px;
}
article button:hover {
  transform: scale(1.1);
  transition-duration: 0.3s;
}
article .image-section {
  width: 50%;
  display: flex;
  justify-content: center;
}
@media (max-width: 800px) {
  article .image-section {
    display: none;
  }
}
article .image-section img {
  max-width: 400px;
  min-width: 320px;
  border-radius: 20px;
}

section {
  width: auto;
  height: auto;
  padding: 60px;
}
@media (max-width: 1024px) {
  section {
    padding: 4%;
  }
}
section h2 {
  color: #7C6A0A;
  font-size: 2em;
}
section .healthcare, section .furniture {
  padding-bottom: 60px;
  padding-top: 40px;
}
section .healthcare h2, section .furniture h2 {
  font-weight: 300;
  padding-bottom: 60px;
}
section .healthcare .card-section, section .furniture .card-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  gap: 50px;
}
@media (max-width: 800px) {
  section .healthcare .card-section, section .furniture .card-section {
    display: flex;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
    gap: 30px;
  }
}
section .healthcare .product-card, section .furniture .product-card {
  max-width: 450px;
  min-height: 50vh;
  background-color: #FFDAC6;
  color: #7C6A0A;
  padding: 20px;
  border-radius: 8px;
}
@media (max-width: 800px) {
  section .healthcare .product-card, section .furniture .product-card {
    max-width: 305px;
  }
}
section .healthcare .product-card .icon, section .furniture .product-card .icon {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-bottom: 12px;
}
section .healthcare .product-card .icon svg, section .furniture .product-card .icon svg {
  width: 28px;
  height: 28px;
  margin-right: -13px;
  transition: transform 0.3s;
}
section .healthcare .product-card .icon svg:hover, section .furniture .product-card .icon svg:hover {
  transform: scale(1.4);
}
section .healthcare .product-card .product-image, section .furniture .product-card .product-image {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
section .healthcare .product-card .product-image img, section .furniture .product-card .product-image img {
  height: 50vh;
  max-width: -webkit-fill-available;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 6px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
@media (max-width: 530px) {
  section .healthcare .product-card .product-image img, section .furniture .product-card .product-image img {
    height: 34vh;
  }
}
section .healthcare .product-card .product-card--description, section .furniture .product-card .product-card--description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 160px;
}
section .healthcare .product-card .product-card--description h3, section .furniture .product-card .product-card--description h3 {
  padding-top: 20px;
  padding-bottom: 12px;
}
section .healthcare .product-card .product-card--description p, section .furniture .product-card .product-card--description p {
  margin-bottom: 12px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 3;
  line-clamp: 3;
}
section .healthcare .product-card .product-card--description span, section .furniture .product-card .product-card--description span {
  padding-top: 10px;
  font-weight: 700;
  font-size: 30px;
}
section .furniture .product-card {
  background-color: #BABD8D;
  color: white;
}

.about-us {
  padding-bottom: 60px;
}
.about-us h2 {
  font-weight: bold;
  padding-bottom: 60px;
}
.about-us .mission-section {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
@media (max-width: 1024px) {
  .about-us .mission-section {
    flex-direction: column;
  }
}
@media (max-width: 1024px) {
  .about-us .mission-section .earth {
    padding-bottom: 30px;
  }
}
.about-us .mission-section .earth, .about-us .mission-section .innovation {
  width: 30vw;
  display: flex;
  align-items: center;
  gap: 40px;
  color: #E86424;
}
@media (max-width: 1024px) {
  .about-us .mission-section .earth, .about-us .mission-section .innovation {
    flex-direction: column;
    width: auto;
    gap: inherit;
  }
}
.about-us .mission-section .earth img, .about-us .mission-section .innovation img {
  -o-object-fit: contain;
     object-fit: contain;
}
.about-us .mission-section .earth p, .about-us .mission-section .innovation p {
  text-align: center;
  font-size: 1.5em;
}

.gallery h2 {
  font-weight: bold;
  padding-bottom: 40px;
}
.gallery .gallery-images {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 60px;
}
@media (max-width: 800px) {
  .gallery .gallery-images {
    flex-direction: column;
  }
}
.gallery .gallery-images img {
  margin-top: 35px;
  width: 28vw;
  height: 45vh;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 16px;
}
@media (max-width: 800px) {
  .gallery .gallery-images img {
    width: 85vw;
  }
}
.gallery .gallery-images img:hover {
  transform: scale(1.1);
  transition-duration: 0.3s;
}

.location {
  color: #E86424;
}
.location h2 {
  padding-bottom: 60px;
}
.location .map {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
}
.location .map img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 500px;
}
.location h3, .location p {
  font-size: 1.5em;
}

footer {
  background-color: #FA9500;
  width: 100%;
  height: auto;
  color: white;
  padding: 40px;
}
footer h3 {
  padding-bottom: 10px;
}
footer p {
  padding-bottom: 5px;
}
footer .social-media {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding-top: 50px;
}/*# sourceMappingURL=main.css.map */