$primary-color:#FFEFE7;
$secundary-color:#FFDAC6;
$tertiary-color:#BABD8D;
$primary-text-color:#7C6A0A;
$quaternary-color: #FA9500;
$font-stack: 'DM Sans', sans-serif;
$paragraph-size: 1.5em;

@mixin flexCenter($direction, $content, $alin){
    display: flex;
    flex-direction: $direction;
    justify-content: $content;
    align-items: $alin;
}

@mixin buttonStyle{
    button{
        background: none;
        border-style: none;
    }
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: $primary-color;
    font-family: $font-stack;
}

nav{
    @include flexCenter(row, space-between, center);
    width: auto;
    height: 100px;
    color: $primary-text-color;
    padding: 15px;
    align-items: center;
    p {
        font-size: $paragraph-size;
        padding-left: 30px;
    }

    .icons{
        display: flex;
        gap: 15px;

        @include buttonStyle;
    }
}

article{
    @include flexCenter(row, space-between, center);
    width: auto;
    color: $primary-text-color;
    padding-left: 45px;
    padding-right: 45px;
    padding-top: 70px;

    .impact-section{
        @include flexCenter(column, space-evenly, flex-start);
        padding-top: 50px;
        gap: 25px;
    }

    h1{
        font-size: 3em;
        margin-bottom: 25px;
    }

    p{
        font-size: $paragraph-size;
    }

    @include buttonStyle;
    button{
        background-color: $quaternary-color;
        width: 12vw;
        padding: 20px;
        border-radius: 35px;
        color: white;
        font-size: 1em;
        &:hover{
            transform: scale(1.1);
            transition-duration: 0.3s;
        }
    }

    .image-section{
        img{
            width: 25vw;
            border-radius: 20px;
        }
    }
}

section{
    width: auto;
    height: auto;
    padding: 60px;

    h2{
        color: $primary-text-color;
        font-size: 2em;
    }

    .healthcare{
        padding-bottom: 60px;

        h2{
            font-weight: 300;
            padding-bottom: 60px;
        }

        .card-section{
            @include flexCenter(row, space-evenly, center);
            width: auto;
            height: auto;
            flex-wrap: wrap;
            column-gap: 200px;
            row-gap: 80px;
        }

        .product-card{
            width: 14vw;
            height: 50vh;
            background-color: $secundary-color;
            color: $primary-text-color;
            padding: 20px;
            border-radius: 8px;

            .icon{
                width: 100%;
                display: flex;
                justify-content: flex-end;
                padding-bottom: 12px;

                svg{
                    width: 28px;
                    height: 28px;
                    margin-right: -13px;
                }
            }

            .product-image{
                width: 100%;
                height: auto;
                display: flex;
                justify-content: center;
                align-items: center;
                
                img{
                    width: 12vw;
                    height: 30vh;
                    object-fit: cover;
                    border-radius: 6px;
    
                }
            }
        }
    }
    .furniture{
        @extend .healthcare;
        .product-card{
            background-color: $tertiary-color;
            color: white;
        }
    }
}

.about-us{
    padding-bottom: 60px;
    h2{
        font-weight: bold;
        padding-bottom: 60px;
    }
    .mission-section{
        @include flexCenter(row, space-evenly, center);
        .earth, .innovation{
            width: 30vw;
            display: flex;
            align-items: center;
            gap: 40px;
            color: #E86424;
            img{
                object-fit: contain;
            }
            p{
                text-align: center;
                font-size: $paragraph-size;
            }
        }
    }
}

.gallery{
    h2{
        font-weight: bold;
        padding-bottom: 60px;
    }
    .gallery-images{
        @include flexCenter(row, space-between, center);
        padding-bottom: 60px;
        img{
            margin-top: 35px;
            width: 28vw;
            height: 45vh;
            object-fit: cover;
            border-radius: 16px;
            &:hover{
                transform: scale(1.1);
                transition-duration: 0.3s;
            }
        }
    }
}

.location{
    h2{
        padding-bottom: 60px;
    }
    color: #E86424;
    .map{
        @include flexCenter(row, center, center);
        padding-bottom: 50px;
        img{
            width: 100%;
        }
    }
    
    h3, p{
        font-size: $paragraph-size;
    }
}

footer{
    background-color: $quaternary-color;
    width: 100%;
    height: auto;
    color: white;
    padding: 40px;
    h3{
        padding-bottom: 10px
    }
    p{
        padding-bottom: 5px
    }

    .social-media{
        @include flexCenter(row, center, center);
        gap: 40px;
    }
}

  