$primary-color:#FFEFE7;
$secundary-color:#FFDAC6;
$tertiary-color:#BABD8D;
$primary-text-color:#7C6A0A;
$quaternary-color: #FA9500;
$font-stack: 'DM Sans', sans-serif;
$paragraph-size: 1.5em;

@mixin flexCenter($direction, $content, $alin){
    display: flex;
    flex-direction: $direction;
    justify-content: $content;
    align-items: $alin;
}

@mixin buttonStyle{
    button{
        background: none;
        border-style: none;
    }
}

@mixin breakpoint-big {
    @media (max-width: 1024px) { @content; }
}

@mixin breakpoint-small {
    @media (max-width: 800px) { @content; }
}

@mixin breakpoint-tiny {
    @media (max-width: 530px) { @content; }
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: $primary-color;
    font-family: $font-stack;
}

nav{
    @include flexCenter(row, space-between, center);
    @include breakpoint-big{
        padding: 4%;
    }
    width: auto;
    height: 100px;
    color: $primary-text-color;
    padding: 15px;
    align-items: center;
    p {
        font-size: $paragraph-size;
        padding-left: 30px;
        @include breakpoint-big{
            padding-left: 0px;
        }
    }

    .icons{
        display: flex;
        gap: 15px;

        @include buttonStyle;
    }
}

article{
    @include flexCenter(row, space-between, center);
    width: auto;
    color: $primary-text-color;
    padding-left: 45px;
    padding-right: 45px;
    padding-top: 70px;
    @include breakpoint-big{
        padding: 4%;
    }

    .impact-section{
        @include flexCenter(column, space-evenly, flex-start);
        @include breakpoint-small(){
            width: 100%;
            padding-top: 0px;
        }
        width: 50%;
        padding-top: 50px;
        gap: 25px;
    }

    h1{
        font-size: 3em;
        margin-bottom: 25px;
    }

    p{
        font-size: $paragraph-size;
    }

    @include buttonStyle;
    button{
        background-color: $quaternary-color;
        padding: 20px;
        border-radius: 35px;
        color: white;
        font-size: 1em;
        width: 220px;
        &:hover{
            transform: scale(1.1);
            transition-duration: 0.3s;
        }
    }

    .image-section{
        @include breakpoint-small(){
            display: none;
        }
        width: 50%;
        display: flex;
        justify-content: center;
        img{
            max-width: 400px;
            min-width: 320px;
            border-radius: 20px;

        }
    }
}

section{
    width: auto;
    height: auto;
    padding: 60px;
    @include breakpoint-big{
        padding: 4%;
    }

    h2{
        color: $primary-text-color;
        font-size: 2em;
    }
    
    .healthcare{
        padding-bottom: 60px;
        padding-top: 40px;

        h2{
            font-weight: 300;
            padding-bottom: 60px;
        }

        .card-section{
            @include breakpoint-small(){
                display: flex;
                overflow-x: scroll;
                overscroll-behavior-x: contain;
                scroll-snap-type: x proximity;
                gap: 30px;
            }

            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
            gap: 50px;
        }

        .product-card{
            @include breakpoint-small(){
                max-width: 305px;
            }
            max-width: 450px;
            min-height: 50vh;
            background-color: $secundary-color;
            color: $primary-text-color;
            padding: 20px;
            border-radius: 8px;

            .icon{
                width: 100%;
                display: flex;
                justify-content: flex-end;
                padding-bottom: 12px;

                svg{
                    width: 28px;
                    height: 28px;
                    margin-right: -13px;
                    transition: transform 0.3s;
                    &:hover{
                        transform: scale(1.4);
                    }
                }
            }

            .product-image{
                width: 100%;
                height: auto;
                display: flex;
                justify-content: center;
                align-items: center;
                
                img{
                    height: 50vh;
                    max-width: -webkit-fill-available;
                    object-fit: cover;
                    border-radius: 6px;
                    user-select: none;
                    @include breakpoint-tiny(){
                        height: 34vh;
                    }
    
                }
            }

            .product-card--description{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                height: 160px; 

                h3{
                    padding-top: 20px;
                    padding-bottom: 12px;
                }
    
                p{
                    margin-bottom: 12px;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    -webkit-line-clamp: 3;
                    line-clamp: 3;
                }
    
                span{
                    padding-top: 10px;
                    font-weight: 700;
                    font-size: 30px
                }
            }
        }
    }
    .furniture{
        @extend .healthcare;
        .product-card{
            background-color: $tertiary-color;
            color: white;
        }
    }
}

.about-us{
    padding-bottom: 60px;
    h2{
        font-weight: bold;
        padding-bottom: 60px;
    }
    .mission-section{
        @include flexCenter(row, space-evenly, center);
        @include breakpoint-big{
            flex-direction: column
        }
        .earth{
            @include breakpoint-big{
                padding-bottom: 30px;
            }
        }
        .earth, .innovation{
            width: 30vw;
            display: flex;
            align-items: center;
            gap: 40px;
            color: #E86424;
            @include breakpoint-big{
                flex-direction: column;
                width: auto;
                gap: inherit;
            }
            img{
                object-fit: contain;
            }
            p{
                text-align: center;
                font-size: $paragraph-size;
            }
        }
    }
}

.gallery{
    h2{
        font-weight: bold;
        padding-bottom: 40px;
    }
    .gallery-images{
        @include flexCenter(row, space-between, center);
        @include breakpoint-small{
            flex-direction: column;
        }
        padding-bottom: 60px;
        img{
            @include breakpoint-small{
                width: 85vw;
            }
            margin-top: 35px;
            width: 28vw;
            height: 45vh;
            object-fit: cover;
            border-radius: 16px;
            &:hover{
                transform: scale(1.1);
                transition-duration: 0.3s;
            }
        }
    }
}

.location{
    h2{
        padding-bottom: 60px;
    }
    color: #E86424;
    .map{
        @include flexCenter(row, center, center);
        padding-bottom: 50px;
        img{
            width: 100%;
            object-fit: cover;
            height: 500px;
        }
    }
    
    h3, p{
        font-size: $paragraph-size;
    }
}

footer{
    background-color: $quaternary-color;
    width: 100%;
    height: auto;
    color: white;
    padding: 40px;
    h3{
        padding-bottom: 10px
    }
    p{
        padding-bottom: 5px
    }

    .social-media{
        @include flexCenter(row, center, center);
        gap: 40px;
        padding-top: 50px;
    }
}

  